# ==========================================
# Python
# ==========================================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# ==========================================
# Virtual Environment
# ==========================================
venv/

# ==========================================
# VS Code
# ==========================================
.vscode/

# ==========================================
# Environment Variables
# ==========================================
.env

# ==========================================
# Logs
# ==========================================
*.log

# ==========================================
# macOS
# ==========================================
.DS_Store